@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat&family=Roboto+Mono&display=swap');

:root {
	--clr-indigo-lt: #4b0082;
	--clr-indigo: #300350;
	--clr-gold-lt: #ffdf00;
	--clr-gold: #fab700;
	--clr-green-dk: #1b4d3e;
	--clr-magenta: #960758;
	--clr-black: #000;
	--clr-white: #fff;

	--font-heading: 'Hubballi', sans-serif;
	--font-text: 'Montserrat', sans-serif;
	--font-accent: 'Roboto Mono', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
}

body {
	background: linear-gradient(var(--clr-gold), var(--clr-magenta));
	height: 100%;
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
}

a {
	font-family: var(--font-accent);
	color: var(--clr-gold);
}

a:hover {
	color: var(--clr-magenta);
}

p {
	font-family: var(--font-text);
}
